# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [86]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
from config import weather_api_key, gkey
from citipy import citipy
from datetime import datetime
import os
import csv

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [70]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

579

In [71]:
# To make the DataFrame look cleaner, convert the cities list to titlecase and no
cities_list = []
for city in cities: 
    cities_list.append(city.title())
    
len(cities_list)

579

In [78]:
# Create the Empty DataFrame for the API Calls: Columns == Temperature, Humidity, Cloudiness, Windspeed

cities_df = pd.DataFrame(cities_list)
cities_df = cities_df.rename(columns={0: "City"})
cities_df["Lat"] = ""
cities_df["Lng"] = ""
cities_df["Date and Time"] = ""
cities_df["Max Temperature"] = ""
cities_df["Humidity"] = ""
cities_df["Cloudiness"] = ""
cities_df["Windspeed"] = ""
cities_df

,City,Lat,Lng,Date and Time,Max Temperature,Humidity,Cloudiness,Windspeed
0,Kapaa,,,,,,,
1,Cheuskiny,,,,,,,
2,Belmonte,,,,,,,
3,Port Elizabeth,,,,,,,
4,Norman Wells,,,,,,,
...,...,...,...,...,...,...,...,...
574,Samusu,,,,,,,
575,Jubayl,,,,,,,
576,Leshukonskoye,,,,,,,
577,Bonavista,,,,,,,
578,Touros,,,,,,,

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [79]:
# # Test DataFrame and API Calls

# # This is the test code I used to limit my API calls while troubleshooting 

# base_weather_url = "http://api.openweathermap.org/data/2.5/weather?q="

# # test city
# city_test = ["Punta Arenas"]
# cities_test_df = pd.DataFrame(city_test)
# cities_test_df = cities_test_df.rename(columns={0: "City"})
# cities_test_df["Max Temperature"] = ""
# cities_test_df["Humidity"] = ""
# cities_test_df["Cloudiness"] = ""
# cities_test_df["Windspeed"] = ""
# cities_test_df

# for index, row in cities_test_df.iterrows():
#     time.sleep(1)
#     city = row["City"]
#     get_weather_url = base_weather_url + f"{city}&appid={weather_api_key}&units=imperial"
#     weather_request = requests.get(get_weather_url).json()
#     date_time = weather_request["dt"]
#     date_time_converted = (datetime.utcfromtimestamp(date_time).strftime('%Y-%m-%d %H:%M:%S'))
#     temp = weather_request["main"]["temp_max"]
#     humid = weather_request["main"]["humidity"]
#     cloud = weather_request["clouds"]["all"]
#     wind = weather_request["wind"]["speed"]
#     lat = weather_request["coord"]["lat"]
#     lng = weather_request["coord"]["lon"]
#     pprint(weather_request)
    
#     cities_test_df.loc[index, "Date and Time"] = date_time_converted
#     cities_test_df.loc[index, "Lat"] = lat
#     cities_test_df.loc[index, "Lng"] = lng
#     cities_test_df.loc[index, "Max Temperature"] = temp
#     cities_test_df.loc[index, "Humidity"] = humid
#     cities_test_df.loc[index, "Cloudiness"] = cloud
#     cities_test_df.loc[index, "Windspeed"] = wind
# cities_test_df

In [80]:
# Set the base ULR Get: Temperature, Humidity, Cloudiness, Windspeed
base_weather_url = "http://api.openweathermap.org/data/2.5/weather?q="

# Display empty DataFrame, just as a reminder
cities_df

,City,Lat,Lng,Date and Time,Max Temperature,Humidity,Cloudiness,Windspeed
0,Kapaa,,,,,,,
1,Cheuskiny,,,,,,,
2,Belmonte,,,,,,,
3,Port Elizabeth,,,,,,,
4,Norman Wells,,,,,,,
...,...,...,...,...,...,...,...,...
574,Samusu,,,,,,,
575,Jubayl,,,,,,,
576,Leshukonskoye,,,,,,,
577,Bonavista,,,,,,,
578,Touros,,,,,,,

In [81]:
#  for index, row in cities_pd.iterrows():

for index, row in cities_df.iterrows():
    time.sleep(1)
    city = row["City"]
    get_weather_url = base_weather_url + f"{city}&appid={weather_api_key}&units=imperial"
    weather_request = requests.get(get_weather_url).json()
    try:
        date_time = weather_request["dt"]
        date_time_converted = (datetime.utcfromtimestamp(date_time).strftime('%Y-%m-%d %H:%M:%S'))
        temp = weather_request["main"]["temp_max"]
        humid = weather_request["main"]["humidity"]
        cloud = weather_request["clouds"]["all"]
        wind = weather_request["wind"]["speed"]
        lat = weather_request["coord"]["lat"]
        lng = weather_request["coord"]["lon"]
        print(f"{city} success.")
    except KeyError:
        print(f"Data not found for {city}.")
        pass
    
    cities_df.loc[index, "Date and Time"] = date_time_converted    
    cities_df.loc[index, "Lat"] = lat
    cities_df.loc[index, "Lng"] = lng    
    cities_df.loc[index, "Max Temperature"] = temp
    cities_df.loc[index, "Humidity"] = humid
    cities_df.loc[index, "Cloudiness"] = cloud
    cities_df.loc[index, "Windspeed"] = wind

Kapaa success.
Data not found for Cheuskiny.
Belmonte success.
Port Elizabeth success.
Norman Wells success.
Bluff success.
Hovd success.
Hilo success.
Grindavik success.
Westport success.
Guanica success.
Albany success.
Ushuaia success.
Kaitangata success.
Jamestown success.
Longyearbyen success.
Ulladulla success.
Ilulissat success.
Tigre success.
Kozluk success.
Cockburn Town success.
Namibe success.
Severo-Kurilsk success.
Ejido success.
Port Alfred success.
Data not found for Belushya Guba.
Butaritari success.
Data not found for Warqla.
Thinadhoo success.
Chuy success.
Mbandaka success.
Reconquista success.
Atar success.
Aksarka success.
Rikitea success.
Torbay success.
Busselton success.
Data not found for Nizhneyansk.
Port Blair success.
Lebu success.
Krasnoselkup success.
Bethel success.
Roma success.
Cidreira success.
Okhotsk success.
Hobyo success.
Guangyuan success.
Port Shepstone success.
Berbera success.
Atuona success.
Virginia Beach success.
Hermanus success.
Biltine success.
Ribeira Grande success.
Ketchikan success.
Thompson success.
Esperance success.
New Norfolk success.
Mataura success.
Russellville success.
Airai success.
Data not found for Grand River South East.
San Patricio success.
Baiao success.
Nizhniy Kuranakh success.
Santa Maria success.
Avarua success.
Kitami success.
Sitka success.
Asau success.
Lasa success.
Data not found for Barawe.
Punta Arenas success.
Data not found for Sataua.
Usilampatti success.
Oktyabrskoye success.
Mahebourg success.
Villazon success.
Taoudenni success.
Dicabisagan success.
Saint-Philippe success.
East London success.
Yellowknife success.
Vaini success.
Linhares success.
Pangai success.
Olafsvik success.
Faanui success.
Grants Pass success.
Salamiyah success.
Ahipara success.
Aguimes success.
Sanming success.
Saskylakh success.
Los Llanos De Aridane success.
Port Hardy success.
Data not found for Amderma.
Hofn success.
Pandan success.
Udimskiy success.
Quzhou success.
Hithadhoo success.
Segou success.
Data not found for Taolanaro.
Itoman success.
Hobart success.
Muros success.
Rheinau success.
Bredasdorp success.
Ostrovnoy success.
Data not found for Ozgon.
Qaanaaq success.
Yar-Sale success.
Praia Da Vitoria success.
Meulaboh success.
Portland success.
Jelgava success.
Vostok success.
Takoradi success.
Rocha success.
Data not found for Bolungarvik.
Arraial Do Cabo success.
Nadvoitsy success.
Shenjiamen success.
Mar Del Plata success.
Talnakh success.
Monroe success.
Aykhal success.
Sikasso success.
Mantua success.
Lavrentiya success.
Data not found for Barentsburg.
Khatanga success.
Tiksi success.
Okha success.
College success.
Souillac success.
Kodinar success.
Iqaluit success.
Pangnirtung success.
Bukachacha success.
Praia success.
Codrington success.
Mojokerto success.
Amuntai success.
Victoria success.
Nishihara success.
Cabo San Lucas success.
Makakilo City success.
Fairbanks success.
Manzanillo success.
Jerome success.
Keflavik success.
Kopargaon success.
Narsaq success.
Castro success.
Sandomierz success.
Kodiak success.
Dikson success.
Cape Town success.
Hasaki success.
Forestville success.
Data not found for Samalaeulu.
Bengkulu success.
Majene success.
Geraldton success.
Data not found for Illoqqortoormiut.
Cambrils success.
Clinton success.
Tuktoyaktuk success.
Umm Kaddadah success.
Ancud success.
Barrow success.
Bastrop success.
Fairview success.
Lakhdenpokhya success.
Twante success.
Necochea success.
Porto Novo success.
Lorengau success.
Clyde River success.
Nikolskoye success.
Data not found for Burkhala.
Salinas success.
Georgetown success.
Chokurdakh success.
Ahuimanu success.
Padang success.
Sao Filipe success.
Novorudnyy success.
Ponta Do Sol success.
Batie success.
Sioux Lookout success.
Tasiilaq success.
Saint George success.
Mackay success.
Lakshettipet success.
Data not found for Kamenskoye.
Upernavik success.
Tual success.
Jiaocheng success.
Soma success.
Custoias success.
Vila Velha success.
Leningradskiy success.
Buenos Aires success.
Deputatskiy success.
Shush success.
Huarmey success.
Lompoc success.
Data not found for Mys Shmidta.
Jacqueville success.
Falam success.
Bentiu success.
Tahta success.
Najran success.
Arroio Grande success.
Data not found for Solovetskiy.
Data not found for Lolua.
Marquard success.
Asyut success.
Data not found for Saleaula.
Carutapera success.
Lulea success.
Selma success.
Paracuru success.
Benghazi success.
Maues success.
Pathein success.
Passo De Camaragibe success.
Half Moon Bay success.
Bilibino success.
Puerto Ayora success.
Ust-Tsilma success.
Fare success.
Srednekolymsk success.
Gazanjyk success.
Chicama success.
Havre-Saint-Pierre success.
Data not found for Vaitupu.
Saldanha success.
Craig success.
Pouembout success.
Morondava success.
Paita success.
Luang Prabang success.
Timizart success.
Fort Nelson success.
Tazmalt success.
Cap Malheureux success.
Tilichiki success.
Sibiti success.
Demba success.
Palana success.
Hanzhong success.
San Carlos De Bariloche success.
Boralday success.
Klaksvik success.
Galesong success.
Samarai success.
Kieta success.
Bakchar success.
Villanueva De Cordoba success.
Tambopata success.
Batagay success.
Kuytun success.
Daru success.
Provideniya success.
Data not found for Attawapiskat.
Tautira success.
Moranbah success.
Zholymbet success.
Korla success.
Komsomolskiy success.
Bontang success.
Data not found for Bolsheustikinskoye.
Data not found for Mahadday Weyne.
Cherskiy success.
Yumen success.
Kyra success.
Matehuala success.
Luderitz success.
Kloulklubed success.
Beringovskiy success.
Puerto Escondido success.
Faya success.
Cam Ranh success.
Santa Rosa success.
Yulara success.
Claudio success.
Chitral success.
Laon success.
Dondo success.
Smithers success.
Data not found for X-Can.
Data not found for Tawkar.
Marawi success.
Zaoyang success.
Tawang success.
Inhambane success.
Rabat success.
Klyuchi success.
Kinston success.
Pyu success.
Rio Gallegos success.
Carnarvon success.
Atambua success.
Lamar success.
Dunedin success.
Port-Gentil success.
Vestmannaeyjar success.
Barcelos success.
Buckeye success.
Ballina success.
Nioro success.
Ordzhonikidze success.
Fez success.
Noumea success.
Santiago De Cuba success.
Chulym success.
Xining success.
Bemidji success.
Mildura success.
Araouane success.
Reporoa success.
Sola success.
Bubaque success.
Roald success.
Awjilah success.
Data not found for Labutta.
Lahaina success.
Husavik success.
Filadelfia success.
Namuac success.
Data not found for Alotau.
Horsham success.
Ostersund success.
Pak Phanang success.
Makungu success.
Zhanaozen success.
Shushenskoye success.
Antsohihy success.
Mount Isa success.
San Cristobal success.
Data not found for Tsihombe.
Tolstoy-Yurt success.
Puerto Guzman success.
Mount Gambier success.
Tretten success.
Grand Gaube success.
Kavieng success.
Sept-Iles success.
Lodja success.
Vanimo success.
Data not found for Phan Rang.
Pisco success.
Paramaribo success.
Ayan success.
Dali success.
Data not found for Bandar-E Torkaman.
Kysyl-Syr success.
Santo Domingo success.
Snasa success.
Vagay success.
Ciumeghiu success.
Nuuk success.
Orotukan success.
Orapa success.
Ixtapa success.
Data not found for Bargal.
Vaitape success.
Inuvik success.
Sovetskiy success.
Aswan success.
Aripuana success.
Gawler success.
Lagoa success.
Manta success.
Richards Bay success.
Inirida success.
Parksville success.
Barentu success.
Copiapo success.
Coihaique success.
Bambous Virieux success.
Data not found for Haibowan.
Tam Ky success.
Birin success.
Port Macquarie success.
Saint-Michel-Des-Saints success.
Data not found for Tarudant.
Zion success.
Oum Hadjer success.
Vidim success.
Dhidhdhoo success.
Beloha success.
Port Moresby success.
Data not found for Tumannyy.
Lensk success.
Raudeberg success.
Bonthe success.
Bacong success.
Deer Lake success.
Alofi success.
Data not found for Marcona.
Data not found for Dianopolis.
Gweru success.
Emerald success.
Ayna success.
Kautokeino success.
Mahendragarh success.
Shangqiu success.
Haines Junction success.
Buchanan success.
Hamilton success.
Syracuse success.
Nikki success.
Sabha success.
Cayenne success.
Northam success.
Southbridge success.
Hailar success.
Batagay-Alyta success.
Fort Walton Beach success.

Vostochnyy success.
Manati success.
Caravelas success.
Constitucion success.
Manggar success.
Telhara success.
Melioratorov success.
Data not found for Macaboboni.
Berlevag success.
Saint Anthony success.
Bathsheba success.
Coquimbo success.
Nyurba success.
Umm Lajj success.
Honiara success.
Bosaso success.
Timbiqui success.
Kahului success.
Mehamn success.
Van success.
Gusau success.
Aras success.
Data not found for One Hundred Mile House.
Fukue success.
Oktyabrsk success.
Xinzhou success.
Buarcos success.
Guerrero Negro success.
Margate success.
Alice Springs success.
Marsh Harbour success.
Cheremukhovo success.
Kiunga success.
Nanortalik success.
Hambantota success.
Camacupa success.
Bay Roberts success.
Suez success.
Pemangkat success.
Svobodnyy success.
Baykit success.
Malyye Derbety success.
Bandarbeyla success.
Hay River success.
Neryungri success.
Polyarnyy success.
Sao Paulo De Olivenca success.
Petropavlovsk-Kamchatskiy success.
Namatanai success.
Data not found for Saryshagan.
Data not found for Grand Centre.
Freetown success.
Ust-Kulom success.
Iglino success.
Rajshahi success.
Elbistan success.
Meadow Lake success.
Brandon success.
Te Anau success.
Data not found for Sentyabrskiy.
Bull Savanna success.
Likasi success.
Alta Floresta success.
Koumac success.
Data not found for Toliary.
Data not found for Hunza.
Jalu success.
Brae success.
Pulandian success.
Camacha success.
Turochak success.
Paamiut success.
Kushiro success.
Linjiang success.
Tuatapere success.
Isangel success.
Broken Hill success.
Anloga success.
Data not found for Viligili.
Sorland success.
Data not found for Satitoa.
Carupano success.
Sisophon success.
Lucea success.
Uyuni success.
Ponta Delgada success.
Dingle success.
Palmer success.
Les Cayes success.
Data not found for Palabuhanratu.
Sobolevo success.
Kruisfontein success.
Kasongo-Lunda success.
Chake Chake success.
Osinki success.
Kendari success.
Kiruna success.
Data not found for Burica.
Nanakuli success.
Sao Luiz Gonzaga success.
Nileshwar success.
Magomeni success.
Kutum success.
Rafai success.
Gizo success.
Ipanguacu success.
Ust-Nera success.
Svetlyy success.
Salekhard success.
Zhanakorgan success.
Opelousas success.
Marau success.
Maningrida success.
Ashford success.
Data not found for Ngukurr.
Quatre Cocos success.
Newtownards success.
Chiang Khong success.
Birur success.
Save success.
Wewak success.
Damghan success.
Tadine success.
Gryfice success.
Sistranda success.
Basco success.
Balezino success.
Saint-Joseph success.
Data not found for Nguiu.
Data not found for Zhanatas.
Kaeo success.
Surt success.
Belyy Yar success.
Comodoro Rivadavia success.
Chimoio success.
Lichinga success.
Misratah success.
Chunskiy success.
Karachi success.
Lima success.
Erenhot success.
Urumqi success.
Gubkinskiy success.
Tura success.
Banepa success.
Sawtell success.
Reitz success.
Verkhnyaya Toyma success.
Sarangani success.
Angoche success.
Data not found for Samusu.
Data not found for Jubayl.
Leshukonskoye success.
Bonavista success.
Touros success.

In [87]:
cities_df

,City,Lat,Lng,Date and Time,Max Temperature,Humidity,Cloudiness,Windspeed
0,Kapaa,22.08,-159.32,2020-10-20 16:55:17,73,79,46,8.55
1,Cheuskiny,22.08,-159.32,2020-10-20 16:55:17,73,79,46,8.55
2,Belmonte,-15.86,-38.88,2020-10-20 16:55:26,77,83,90,6.93
3,Port Elizabeth,-33.92,25.57,2020-10-20 16:53:30,62.6,72,10,19.46
4,Norman Wells,65.28,-126.83,2020-10-20 16:55:32,17.6,92,75,9.17
...,...,...,...,...,...,...,...,...
574,Samusu,-16.23,39.91,2020-10-20 17:08:12,78.96,72,0,10.94
575,Jubayl,-16.23,39.91,2020-10-20 17:08:12,78.96,72,0,10.94
576,Leshukonskoye,64.9,45.76,2020-10-20 17:01:03,25.41,98,88,6.13
577,Bonavista,48.65,-53.11,2020-10-20 17:03:17,55.24,81,99,14.27
578,Touros,-5.2,-35.46,2020-10-20 16:59:56,86,55,40,16.11

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [88]:
cities_df.to_csv("../output_data/api-data.csv")

In [92]:
csv_path = os.path.join("..", "output_data", "api-data.csv")
weather_df = pd.read_csv(csv_path)
weather_df = weather_df.drop(columns="Unnamed: 0")
weather_df

,City,Lat,Lng,Date and Time,Max Temperature,Humidity,Cloudiness,Windspeed
0,Kapaa,22.08,-159.32,2020-10-20 16:55:17,73.00,79,46,8.55
1,Cheuskiny,22.08,-159.32,2020-10-20 16:55:17,73.00,79,46,8.55
2,Belmonte,-15.86,-38.88,2020-10-20 16:55:26,77.00,83,90,6.93
3,Port Elizabeth,-33.92,25.57,2020-10-20 16:53:30,62.60,72,10,19.46
4,Norman Wells,65.28,-126.83,2020-10-20 16:55:32,17.60,92,75,9.17
...,...,...,...,...,...,...,...,...
574,Samusu,-16.23,39.91,2020-10-20 17:08:12,78.96,72,0,10.94
575,Jubayl,-16.23,39.91,2020-10-20 17:08:12,78.96,72,0,10.94
576,Leshukonskoye,64.90,45.76,2020-10-20 17:01:03,25.41,98,88,6.13
577,Bonavista,48.65,-53.11,2020-10-20 17:03:17,55.24,81,99,14.27
578,Touros,-5.20,-35.46,2020-10-20 16:59:56,86.00,55,40,16.11

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression